@import "tailwindcss";
@plugin "@tailwindcss/typography";

@media print {
  body * {
    visibility: hidden;
  }
  #resume-preview-content, #resume-preview-content * {
    visibility: visible;
  }
  #resume-preview-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

